<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the home page!</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est error veniam
      nemo, voluptatem labore quae fugit cupiditate ea, ipsa molestiae facilis
      eum ut non ab alias provident quis aliquam corporis quos illo.
      Exercitationem distinctio numquam quidem, enim iste, blanditiis iusto
      fugit nisi cumque harum, nam corrupti dicta. Assumenda, dolore sit!
    </p>
    <button>Click me</button>
  </body>
</html>
